root = true

[*]
indent_style = tab
tab_width = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{cpp,h,h.in,c,mm}]
indent_style = tab

[*.{cmake,txt}]
indent_style = tab

[CMakeLists.txt]
indent_style = tab

[*.{json,xml,yml,yaml}]
indent_style = space
indent_size = 2

[*.{js,css,html,svg}]
indent_style = space
indent_size = 2

[*.{py,py.in}]
indent_style = space
indent_size = 4

[*.{sh,bash}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.{diff,patch}]
trim_trailing_whitespace = false
